<div class="jumbotron">
  <h1>The Ultimate Reminders App!</h1>
  <p>Imagine a world where nothing is forgotten...Now stop imagining (sp?).</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Click to view said world</a></p>
</div>